{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock title %}

{% block styling %}
    {{ block.super }}
    <style type="text/css">
        .tictactoe-table {
            width: 300px;
            border-width: 2px;
        }

    </style>
{% endblock styling %}

{% block content %}

    <div class="col-md-3">
        <form role="form"
              action="{% url "player_login" %}"
              method="post">
            {% csrf_token %}

            <p>Please login.</p>

            {{ form | crispy }}
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
    </div>

{% endblock content %}